<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Date of Birth" %>
    <%= form.date_select :dob, start_year: 1950 %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Profile.genders.keys %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :profile_photo_url %>
    <%= form.text_field :photo_url %>
    <br>
    <i>Will be center cropped to 200x200</i>
    <i>This will be displayed as your Profile photo</i>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
