<h4>Total: <%= @profile_count || profiles.count %></h4>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Location</th>
      <th></th
    </tr>
  </thead>

  <tbody>
    <% profiles.take(100).each do |profile| %>
      <tr>
        <td><%= image_tag profile.photo_url, size: 50, class: 'center-cropped' %></td>
        <td><%= link_to profile.name, profile %></td>
        <td><%= profile.age %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.location %></td>
        <% if add_friend %>
          <td><%= button_to 'Add friend', profile_friends_path(friend_id: profile) %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
