<p id="notice"><%= notice %></p>

<%= image_tag @profile.photo_url, size: 200, class: 'center-cropped' %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<br>
<br>

<p>
  <strong>Interests:</strong>
  <% @profile.interests.each do |interest| %>
    <%= link_to interest.name, interest %>
  <% end %>
</p>

<%= link_to 'See Friend Suggestions', suggestions_profile_friends_path(@profile) %>

<h2>Friends</h2>

<%= render 'table', profiles: @profile.friends.take(1000), add_friend: false %>
